{
  "arrowParens": "always",
  "bracketSpacing": true,
  "eol": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "trailingComma": "none",
        "singleQuote": false
      }
    }
  ]
}
